<div>
  <md-input-container>
    <input mdInput [mdDatepicker]="picker" placeholder="Choose a date"
           [(ngModel)]="day.date">
    <button mdSuffix [mdDatepickerToggle]="picker"></button>
  </md-input-container>
  <md-datepicker #picker></md-datepicker>
</div>

<div *ngIf="day.date">
  <p> Week of: {{day.date | amDateFormat:'LL'}} - {{day.date | amAdd: 6 : 'days' | amDateFormat: 'LL'}}</p>
  <ul (click)="updateTotalTime()">
    <app-single-day *ngFor="let item of list; let i = index;" [day]="item" [offset]="i"></app-single-day>
  </ul>
  <p *ngIf="total"> Total time: {{ total / 60 }} hours. </p>
</div>
