<md-input-container>
  <input  mdInput [mdDatepicker]="myDatepicker">
  <button mdSuffix [mdDatepickerToggle]="myDatepicker"></button>
</md-input-container>
<md-datepicker #myDatepicker></md-datepicker>

<!--<div *ngIf="selectedDay">-->
  <!--<ul>-->
    <!--<li><app-single-day></app-single-day></li>-->
    <!--<li><app-single-day></app-single-day></li>-->
    <!--<li><app-single-day></app-single-day></li>-->
    <!--<li><app-single-day></app-single-day></li>-->
    <!--<li><app-single-day></app-single-day></li>-->
    <!--<li><app-single-day></app-single-day></li>-->
    <!--<li><app-single-day></app-single-day></li>-->
  <!--</ul>-->
<!--</div>-->
